@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px (var(--body));
}

.dark .name:-webkit-autofill,
.dark .name:-webkit-autofill:hover,
.dark .name:-webkit-autofill:focus,
.dark .name:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(110, 171, 218);
  box-shadow: inset 0 0 20px 20px rgb(22, 22, 22);
  transition: background-color 5000s ease-in-out 0s;
}

.light .name:-webkit-autofill,
.light .name:-webkit-autofill:hover,
.light .name:-webkit-autofill:focus,
.light .name:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  box-shadow: inset 0 0 20px 20px rgb(47, 111, 235);
  transition: background-color 5000s ease-in-out 0s;
}

@layer base {
  body {
    margin: 1.2rem;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .sidebar-link {
    @apply bg-background text-text flex items-center justify-start w-full mb-2 py-3 px-4 rounded-lg transition-colors cursor-pointer hover:bg-text hover:text-background;
  }

  .sidebar-link svg {
    @apply mr-2;
  }
}

.dark {
  --body: 0, 0, 0;
  --primary: 22, 22, 22;
  --text: 110, 171, 218;
  --background: 21, 52, 72;
  --accent: 21, 52, 72;
  --secondary: 110, 171, 218;
}

.light {
  --body: 255, 255, 255;
  --primary: 47, 111, 235;
  --text: 238, 238, 238;
  --background: 110, 171, 218;
  --accent: 238, 238, 238;
  --secondary: 0, 0, 0;
}
